{% extends "auth_base.html" %}
{% block title %}Вход{% endblock %}
{% block auth_content %}
<h2>Вход</h2>
<p>Войдите, чтобы управлять резервными копиями.</p>
{% if demo_username %}
<div class="demo">Демо-доступ: <code>{{ demo_username }}</code> / <code>{{ demo_password }}</code></div>
{% endif %}
<form class="form" method="post" novalidate>
  {% csrf_token %}
  {% include "partials/form_errors.html" %}
  {% include "partials/field.html" with field=form.username %}
  {% include "partials/field.html" with field=form.password %}
  <input type="hidden" name="next" value="{{ next }}">
  <button class="btn btn--primary btn--block" type="submit">Войти</button>
</form>
<div class="auth__switch">Нет аккаунта? <a href="{% url 'custom_auth.register' %}">Зарегистрироваться</a></div>
{% endblock %}
