{% extends "base.html" %}
{% block title %}Копии{% endblock %}
{% block content %}
  <form class="px-40 flex flex-1 justify-center" action="" method="POST">
    {% csrf_token %}
    <div class="layout-content-container flex flex-col w-[512px] py-5 flex-1">
      <h1 class="text-[#111418] tracking-light text-[32px] font-bold leading-tight px-4 text-left pb-3 pt-6">Создание резервной копии</h1>
      <div class="gap-4 px-4 py-3">
        {% if messages %}
            {% for message in messages %}
                <p{% if message.tags %} class="font-medium leading-normal pb-2"{% endif %} style="color: red;">{{ message }}</p>
            {% endfor %}
        {% endif %}
      </div>
      <div class="flex flex-wrap items-end gap-4 px-4 py-3">
        <label class="flex flex-col min-w-40 flex-1">
          <p class="text-[#111418] text-base font-medium leading-normal pb-2">Тип резервной копии</p>
          <select name="type" class="form-input flex w-full min-w-0 flex-1 resize-none overflow-hidden rounded-xl text-[#111418] focus:outline-0 focus:ring-0 border border-[#dcdfe5] bg-white focus:border-[#dcdfe5] h-14 bg-[image:--select-button-svg] placeholder:text-[#637288] p-[15px] text-base font-normal leading-normal">
            {% for type in backup_types %}
              <option value="{{ type.id }}">{{ type.title }}</option>
            {% endfor %}
          </select>
        </label>
      </div>
      <div class="flex flex-wrap items-end gap-4 px-4 py-3">
        <label class="flex flex-col min-w-40 flex-1">
          <p class="text-[#111418] text-base font-medium leading-normal pb-2">Имя пользователя</p>
          <input name="username" placeholder="Введите имя пользователя" class="form-input flex w-full min-w-0 flex-1 resize-none overflow-hidden rounded-xl text-[#111418] focus:outline-0 focus:ring-0 border border-[#dcdfe5] bg-white focus:border-[#dcdfe5] h-14 placeholder:text-[#637288] p-[15px] text-base font-normal leading-normal" value="{{ request.POST.username }}" /> </label>
        <label class="flex flex-col min-w-40 flex-1">
          <p class="text-[#111418] text-base font-medium leading-normal pb-2">Пароль</p>
          <input name="password" placeholder="Введите пароль" class="form-input flex w-full min-w-0 flex-1 resize-none overflow-hidden rounded-xl text-[#111418] focus:outline-0 focus:ring-0 border border-[#dcdfe5] bg-white focus:border-[#dcdfe5] h-14 placeholder:text-[#637288] p-[15px] text-base font-normal leading-normal" value="{{ request.POST.password }}" /> </label>
      </div>
      <div class="flex flex-wrap items-end gap-4 px-4 py-3">
        <label class="flex flex-col min-w-40 flex-1">
          <p class="text-[#111418] text-base font-medium leading-normal pb-2">Имя базы данных</p>
          <input name="db" placeholder="Введите имя базы данных" class="form-input flex w-full min-w-0 flex-1 resize-none overflow-hidden rounded-xl text-[#111418] focus:outline-0 focus:ring-0 border border-[#dcdfe5] bg-white focus:border-[#dcdfe5] h-14 placeholder:text-[#637288] p-[15px] text-base font-normal leading-normal" value="{{ request.POST.db }}" /> </label>
      </div>
      <div class="flex flex-wrap items-end gap-4 px-4 py-3">
        <label class="flex flex-col min-w-40 flex-1">
          <p class="text-[#111418] text-base font-medium leading-normal pb-2">IP-адрес (v4)</p>
          <input name="ip" placeholder="Введите IP-адрес" class="form-input flex w-full min-w-0 flex-1 resize-none overflow-hidden rounded-xl text-[#111418] focus:outline-0 focus:ring-0 border border-[#dcdfe5] bg-white focus:border-[#dcdfe5] h-14 placeholder:text-[#637288] p-[15px] text-base font-normal leading-normal" value="{{ request.POST.ip }}" minlength="7" maxlength="15" size="15" pattern="^(?>(\d|[1-9]\d{2}|1\d\d|2[0-4]\d|25[0-5])\.){3}(?1)$"/> </label>
        <label class="flex flex-col min-w-40 flex-1">
          <p class="text-[#111418] text-base font-medium leading-normal pb-2">Порт</p>
          <input name="port" placeholder="Введите порт" class="form-input flex w-full min-w-0 flex-1 resize-none overflow-hidden rounded-xl text-[#111418] focus:outline-0 focus:ring-0 border border-[#dcdfe5] bg-white focus:border-[#dcdfe5] h-14 placeholder:text-[#637288] p-[15px] text-base font-normal leading-normal" value="{{ request.POST.port }}" type="number" min="0" max="99999" /> </label>
      </div>
      <div class="flex flex-wrap items-end gap-4 px-4 py-3">
        <label class="flex flex-col min-w-40 flex-1">
          <p class="text-[#111418] text-base font-medium leading-normal pb-2">Место хранения</p>
          <select name="storage" class="form-input flex w-full min-w-0 flex-1 resize-none overflow-hidden rounded-xl text-[#111418] focus:outline-0 focus:ring-0 border border-[#dcdfe5] bg-white focus:border-[#dcdfe5] h-14 bg-[image:--select-button-svg] placeholder:text-[#637288] p-[15px] text-base font-normal leading-normal">
            {% for storage in storages %}
              <option value="{{ storage.id }}">{{ storage.location }} - {{ storage.type.title }}</option>
            {% endfor %}
          </select>
        </label>
      </div>
      <div class="flex px-4 py-3">
        <button class="flex min-w-[84px] cursor-pointer items-center justify-center overflow-hidden rounded-xl h-10 px-4 flex-1 bg-[#196be6] text-white text-sm font-bold leading-normal tracking-[0.015em]"> <span class="truncate">Создать</span> </button>
      </div>
    </form>
{% endblock %}